<div class="row">
    <form id="form" action="perfil" method="post" class="col-md-8">
        <div class="form-group ">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre del producto"
                required>
        </div>
        <div class="form-group">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido"
                placeholder="Ingrese el precio del producto" required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Ingrese email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrece EMAIL" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>